#app{
}

.relationStatement{
    font: 20px "Century Gothic", Futura,sans-serif;
    font-weight:bold;
    margin:0 auto;
    width:460px;
}

#ul_buttons3 li {
    margin:0 auto;
    display: inline;
}

.relationSelection{
    border: 1px solid red;
    margin-top:10%;
    width:100px;
    height:100px;
    margin-left:10%;
    border-radius: 50%;
}